.imagem-carrossel {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.font-titulo {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkred;
}